doctype html
head
  - const json = require("./src/pug/pages/data.json")
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='#{json.page_meta.meta_keywords}')
  meta(name='description' content='#{json.page_meta.meta_description}')
  title #{json.page_meta.title}
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/style.min.css')
header.header
  - let company = 'EU_TRUCKS'
  .container
    .header__block
      h2.header__title
        | #{company}
    nav.header-nav

      ul.header-nav__list
        - for (let i = 0; i < json.nav.length; i++) {
        li.header-nav__link
          a(href=json.nav[i].href) #{json.nav[i].text}
        - }
    
    ul.header-breadcrumb
      - for (let i = 0; i < json.breadcrumbs.length; i++) {
      li.header-breadcrumb__link
        a(href=json.breadcrumbs[i].href) #{json.breadcrumbs[i].text}
      - }

section.products
  .container
    .products__grid
      .products-aside
        aside.aside
          .aside__title 26 Results Found
          .aside__divider
          form(action='#')
            - let i = 1;
            mixin param_checkbox(id, ...items) 
              div(class = 'aside__param'+id)
                h3.aside__name Param #{id} 
                .aside__wrapper
                  each item in items
                    .aside__value
                      input(id ='value'+item type='checkbox')
                      label(for='value'+item) value #{item}
                  -i++
            +param_checkbox(i, 1, 2, 3, 4, 5)

            mixin param_radio(id, ...items)
              div(class = "aside__param"+id)
                h3.aside__name Param #{id}
                .aside__wrapper
                  each item in items 
                    .aside__value
                      input(id= "value"+id+"_"+item type='radio' name='value'+id+'_0')
                      label(for='value'+id+'_'+item) value #{id}_#{item}
                  -i++
            +param_radio(i , 1, 2, 3)

            div(class ='aside__param'+i)
              h3.aside__name Param #{i}
              .aside__wrapper.flex
                input#min(type='number' placeholder='min')
                input#max(type='number' placeholder='max')

            div(class ='aside__param'+(i+1))
              h3.aside__name Param #{i+1}
              .aside__wrapper.keyword
                input(type='text' placeholder='Keyword')

            button.aside__submit Search
          
      .products-block
        h1.products-block__header
          | #{json.page_meta.h1}
        mixin btns_sort
          .products-block__wrapper
            .products-block__btns
              button.products-block__btn <
              mixin pages(...items)
                each item in items 
                  button.products-block__btn #{item} 
              +pages(1, 2)
              button.products-block__btn.last >
            .products-block-sort
              .products-block-sort__label
                | Sort by
              .products-block-sort__block
                .products-block-sort__placeholder
                  | Sort options
                ul.products-block-sort__menu.hidden
                  li.products-block-sort__option cheapest first
                  li.products-block-sort__option most expensive first
        +btns_sort

        - for(let i = 0; i < json.stock.length; i++ ) {
          .item
            .item__grid
              img.item__img(src='img/'+json.stock[i].image alt=json.stock[i].make+json.stock[i].model+'_img') 
              .item__wrapper
                a(href=json.stock[i].href)
                  h2.item__title #{json.stock[i].title}
                .item__descr
                  | #{json.stock[i].make} #{json.stock[i].model}
                  br
                  | #{json.stock[i].type}
                .item__tags
                  .item__tag #{json.stock[i].year}
                  .item__tag #{json.stock[i].mileage} #{json.stock[i].mileage_measure} 
                  .item__tag #{json.stock[i].axle_configuration}
                  .item__tag #{json.stock[i].power} #{json.stock[i].power_measure}
                  .item__tag #{json.stock[i].payload}
                  .item__tag #{json.stock[i].gross_weight}
              .item__price
                .item__cur
                  | #{json.stock[i].price_currency}
                .item__value
                  | #{json.stock[i].price}
        - }

        +btns_sort

        - for(let i = 0; i < json.page_text.length; i++) {
          #{json.page_text[i].tag}.products-block__text #{json.page_text[i].content}
        -}

.overflow

footer.footer
  .container
    .footer__grid
      h2.footer__header
        | #{company}
      .footer__contacts
        .footer__adress
          | Company Adress: Lorem ipsum 
          br
          |  dolor sit amet 
          br
          |  18600, Netherlands
        a.footer__phone(href='tel:389587550000') +38 958 755-00-00
      .footer__social
        a.footer__link(href='#')
          svg(width='9' height='15' viewbox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5.72675 14.472H3.36291C2.96807 14.472 2.64689 14.1604 2.64689 13.7774V8.60563H1.26778C0.872942 8.60563 0.551758 8.29398 0.551758 7.91109V5.69496C0.551758 5.31197 0.872942 5.00042 1.26778 5.00042H2.64689V3.89066C2.64689 2.79029 3.0031 1.85411 3.67689 1.1835C4.35372 0.509819 5.29959 0.153809 6.41225 0.153809L8.21503 0.156649C8.60919 0.157304 8.92981 0.468854 8.92981 0.851191V2.90882C8.92981 3.29181 8.60874 3.60336 8.21401 3.60336L7.00022 3.6038C6.63005 3.6038 6.53579 3.67579 6.51563 3.69785C6.48241 3.73445 6.44288 3.8379 6.44288 4.12356V5.00031H8.12279C8.24926 5.00031 8.37179 5.03057 8.47709 5.08759C8.70424 5.2107 8.84546 5.44349 8.84546 5.69507L8.84456 7.9112C8.84456 8.29398 8.52337 8.60553 8.12854 8.60553H6.44288V13.7774C6.44288 14.1604 6.12158 14.472 5.72675 14.472V14.472ZM3.51224 13.6326H5.57742V8.22985C5.57742 7.97412 5.79195 7.76613 6.05548 7.76613H7.97921L7.97999 5.83981H6.05536C5.79184 5.83981 5.57742 5.63182 5.57742 5.37609V4.12356C5.57742 3.79562 5.61177 3.42268 5.86696 3.14237C6.1753 2.80351 6.66125 2.7644 7 2.7644L8.06446 2.76397V0.995823L6.41157 0.993202C4.62344 0.993202 3.51224 2.10351 3.51224 3.89066V5.37609C3.51224 5.63171 3.29782 5.83981 3.03429 5.83981H1.41711V7.76613H3.03429C3.29782 7.76613 3.51224 7.97412 3.51224 8.22985V13.6326ZM8.21334 0.996042H8.21345H8.21334Z' fill='#828282')
        a.footer__link(href='#')
          svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.2889 0.5H4.53247C2.33353 0.5 0.544617 2.32144 0.544617 4.56036V11.4397C0.544617 13.6785 2.33353 15.5 4.53247 15.5H11.289C13.4878 15.5 15.2767 13.6785 15.2767 11.4397V4.56036C15.2767 2.32144 13.4878 0.5 11.2889 0.5V0.5ZM14.4131 11.4397C14.4131 13.1936 13.0116 14.6206 11.2889 14.6206H4.53247C2.80976 14.6206 1.40828 13.1936 1.40828 11.4397V4.56036C1.40828 2.80632 2.80976 1.37936 4.53247 1.37936H11.289C13.0116 1.37936 14.4131 2.80632 14.4131 4.56036V11.4397Z' fill='#828282')
            path(d='M7.91068 3.89856C5.68949 3.89856 3.88248 5.73842 3.88248 8C3.88248 10.2616 5.68949 12.1014 7.91068 12.1014C10.1319 12.1014 11.9389 10.2616 11.9389 8C11.9389 5.73842 10.1319 3.89856 7.91068 3.89856V3.89856ZM7.91068 11.2221C6.16582 11.2221 4.74614 9.77669 4.74614 8C4.74614 6.22342 6.16582 4.77792 7.91068 4.77792C9.65564 4.77792 11.0752 6.22342 11.0752 8C11.0752 9.77669 9.65564 11.2221 7.91068 11.2221V11.2221Z' fill='#828282')
        a.footer__link(href='#')
          svg(width='17' height='14' viewbox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.16877 13.8181C3.48644 13.8181 1.36642 13.3365 0.35215 12.497L0.332409 12.4806L0.314507 12.4622C0.0735682 12.2145 -0.00539594 11.8895 0.0980912 11.5707L0.107533 11.5442C0.23309 11.2215 0.540732 11.0043 0.874122 11.0022C1.56028 10.99 2.1606 10.906 2.70538 10.7428C1.83641 10.3274 1.23277 9.60829 0.873632 8.56743C0.752856 8.24282 0.857079 7.88293 1.13542 7.66833C1.20408 7.61527 1.2817 7.5752 1.36385 7.54836C0.880989 6.97551 0.524301 6.32364 0.324561 5.63423L0.318308 5.61281L0.314017 5.59088C0.24621 5.2422 0.397885 4.8837 0.675854 4.72933C0.792461 4.66053 0.919122 4.62487 1.04627 4.62184C0.90919 4.3184 0.809504 4.0069 0.750404 3.69351C0.586345 2.82503 0.721712 1.9544 1.15258 1.10583L1.25227 0.900936C1.33209 0.736994 1.48462 0.621818 1.66045 0.592457C1.83628 0.563222 2.01653 0.622952 2.14245 0.752367L2.32405 0.939244C3.75864 2.48492 5.04365 3.21831 7.26531 3.72009C7.36451 2.84368 7.73321 2.029 8.32802 1.38785C9.03588 0.624969 9.98112 0.196903 10.9896 0.182286H10.9962C11.7321 0.182286 12.6448 0.614005 13.1968 0.918452C13.6704 0.759172 14.2409 0.512565 14.8329 0.251845C15.1099 0.118271 15.4513 0.179387 15.6691 0.403186C15.8826 0.622574 15.9418 0.931936 15.8285 1.2326C15.7855 1.35572 15.7367 1.47656 15.6824 1.59476C15.7634 1.63294 15.8376 1.68474 15.9002 1.74913C16.0897 1.94382 16.1686 2.24852 16.1013 2.52549L16.0941 2.55183C15.8673 3.30312 15.4315 3.91504 14.8552 4.29912C14.7589 9.56658 10.8993 13.8181 6.16877 13.8181V13.8181ZM1.25595 11.9575C2.21173 12.5133 4.03318 12.8495 6.16877 12.8495C8.22196 12.8495 10.1595 11.9436 11.6244 10.2986C13.1013 8.64014 13.9146 6.43781 13.9146 4.09725V4.07091C13.9146 3.85896 14.0282 3.66553 14.2108 3.56598C14.5815 3.36423 14.8817 3.0206 15.0769 2.58119C14.8755 2.61383 14.6709 2.53079 14.5455 2.35764C14.3997 2.1564 14.3981 1.88459 14.5414 1.68159C14.6188 1.57195 14.6889 1.45791 14.7515 1.33996C14.2403 1.56061 13.7548 1.75845 13.3334 1.88988C13.1803 1.93752 13.0096 1.91887 12.8697 1.8386C12.1194 1.40902 11.4206 1.15221 10.9993 1.15095C9.44468 1.17539 8.18064 2.54376 8.18064 4.20285C8.18064 4.37435 8.10658 4.53514 7.97771 4.64415C7.84872 4.75302 7.68098 4.79662 7.51717 4.76335C4.95549 4.24469 3.43751 3.46693 1.85897 1.83671C1.63274 2.39381 1.57094 2.95494 1.67553 3.50902C1.7816 4.07028 2.06373 4.63268 2.49154 5.13534C2.65413 5.32613 2.67571 5.59907 2.54524 5.81443C2.41527 6.02903 2.1682 6.12933 1.9307 6.06393C1.74506 6.01277 1.57438 5.94561 1.41253 5.85929C1.74224 6.59533 2.30933 7.27605 3.02222 7.77808C3.22882 7.92363 3.31514 8.19493 3.23226 8.43789C3.14925 8.68122 2.91738 8.83785 2.66676 8.8187C2.39369 8.7979 2.15177 8.7446 1.9291 8.65475C2.32883 9.49135 2.96753 9.95168 3.95152 10.1276C4.18583 10.1696 4.36829 10.3597 4.40556 10.6008C4.44296 10.8418 4.32684 11.0808 4.1168 11.1953C3.27812 11.6522 2.36144 11.8974 1.25595 11.9575V11.9575Z' fill='#828282')
        a.footer__link(href='#')
          svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0)')
              path(d='M10.5354 7.32599L7.28075 5.51279C7.09361 5.40853 6.87241 5.41242 6.68898 5.52309C6.50544 5.63387 6.39597 5.82956 6.39597 6.04677V9.64205C6.39597 9.85822 6.50477 10.0536 6.68707 10.1645C6.78227 10.2224 6.88781 10.2514 6.99358 10.2514C7.09046 10.2514 7.18757 10.2271 7.27693 10.1781L10.5317 8.39613C10.7249 8.29027 10.8455 8.08576 10.8464 7.86226C10.8472 7.63876 10.7281 7.43334 10.5354 7.32599V7.32599ZM7.25928 9.18978V6.5027L9.69177 7.85791L7.25928 9.18978Z' fill='#828282')
              path(d='M15.5255 4.99787L15.5248 4.991C15.5123 4.87027 15.3881 3.79636 14.8754 3.25013C14.2827 2.60766 13.6108 2.52961 13.2877 2.49219C13.2609 2.4891 13.2364 2.48624 13.2145 2.48326L13.1888 2.48051C11.2412 2.33632 8.29984 2.31664 8.27039 2.31652L8.26781 2.31641L8.26522 2.31652C8.23577 2.31664 5.29446 2.33632 3.32931 2.48051L3.30335 2.48326C3.28244 2.48612 3.2594 2.48875 3.23434 2.49173C2.9149 2.52927 2.25019 2.60743 1.65583 3.27313C1.16747 3.81352 1.0263 4.86443 1.0118 4.98254L1.01011 4.99787C1.00573 5.04811 0.901764 6.24413 0.901764 7.44485V8.56728C0.901764 9.768 1.00573 10.964 1.01011 11.0144L1.0109 11.0219C1.02338 11.1407 1.14746 12.1949 1.65786 12.7414C2.21512 13.3624 2.91974 13.4445 3.29874 13.4887C3.35865 13.4957 3.41024 13.5016 3.44542 13.5079L3.47947 13.5127C4.604 13.6217 8.12978 13.6754 8.27927 13.6775L8.28377 13.6776L8.28826 13.6775C8.31771 13.6774 11.2589 13.6577 13.2065 13.5135L13.2323 13.5108C13.2569 13.5075 13.2845 13.5045 13.3149 13.5013C13.6325 13.467 14.2936 13.3957 14.8798 12.739C15.3681 12.1985 15.5094 11.1476 15.5238 11.0296L15.5255 11.0143C15.5299 10.9639 15.634 9.768 15.634 8.56728V7.44485C15.6338 6.24413 15.5299 5.04823 15.5255 4.99787V4.99787ZM14.7705 8.56728C14.7705 9.67862 14.6752 10.8231 14.6662 10.9282C14.6296 11.2176 14.4807 11.8825 14.2427 12.1459C13.8758 12.5568 13.499 12.5975 13.2238 12.6272C13.1906 12.6307 13.1598 12.6342 13.1319 12.6377C11.2481 12.7764 8.41786 12.7977 8.28748 12.7985C8.14125 12.7963 4.66706 12.7422 3.57681 12.6391C3.52095 12.6298 3.46059 12.6227 3.39697 12.6154C3.07428 12.5778 2.63256 12.5263 2.2929 12.1459L2.28492 12.1372C2.05113 11.8892 1.90648 11.2674 1.86973 10.9316C1.86287 10.8522 1.76508 9.69418 1.76508 8.56728V7.44485C1.76508 6.33477 1.86017 5.19151 1.86939 5.08427C1.91311 4.74335 2.06485 4.11874 2.2929 3.86628C2.671 3.44285 3.06967 3.39593 3.33336 3.36491C3.35853 3.36194 3.38203 3.35919 3.40372 3.35633C5.31491 3.21694 8.16552 3.19623 8.26781 3.19543C8.37009 3.19611 11.2197 3.21694 13.1139 3.35633C13.1372 3.35931 13.1626 3.36228 13.1899 3.36549C13.4611 3.39696 13.871 3.44456 14.2472 3.85312L14.2507 3.8569C14.4845 4.10489 14.6291 4.73752 14.6659 5.08004C14.6724 5.155 14.7705 6.31554 14.7705 7.44485V8.56728Z' fill='#828282')
            defs
              clippath#clip0
                rect(width='14.7321' height='15' fill='white' transform='translate(0.901764 0.5)')
      .footer__text
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolore corporis minima illum voluptatibus facilis, eaque, labore id inventore rerum recusandae tempora possimus quod nesciunt suscipit sint excepturi dolorum asperiores!
    .footer__privacy
      | &copy; 2019 - 
      a(href='#') Privacy Policy
      |  - 
      a(href='#') Terms and Conditions

script(src='js/script.js')